<div class="jumbotron text-center">
  <h1 class="display-3">
    {{title}}
  </h1>
  <p class="lead">
    Panel principal
  </p>
  <a href="/proyectos/agregar" class="btn btn-dark btn-lg">Agregar proyectos</a>
</div>