<div class="card card-body">
  <h3>Editar Proyecto</h3>
  <form action="/proyectos/{{proyecto.id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="nombre">Nombre Proyecto</label>
      <input type="text" class="form-control" name="nombre" value="{{proyecto.nombre}}" >
    </div>
    <div class="form-group">
      <label for="descripcion">Detalles</label>
      <textarea class="form-control" name="descripcion">{{proyecto.descripcion}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>